*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}


a{
    display: block;
}


.wrapper{
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 5px;
}



html {
    scroll-behavior: smooth;
    scroll-padding-top: 59px;
}